body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left; 
    width: 115px;
    height: 24px;
    top: 24px;
    left: 156px;
    text-decoration: none;
    text-transform: uppercase;
    color: #4D5AE5
}

.web {
    color: #4D5AE5;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
}

span {
    color: #2e2f42;
}

.link, .link2 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: #2E2F42;
}

.link2:hover {
    color: #404bbf;
}

.link2:active {
    color: #404bbf;
}

ul {
    list-style-type: none;
}

.header-main {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff
}

.central-image {
    background-color: #2E2F42;
}

.btn-click {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition-duration: 0.2s;
}

.btn-click:hover {
    background-color: #404BBF;
}

.btn-click:active {
    background-color: #404BBF;
}

.column {
    text-align: center;
}

.header-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-header {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
}

.our-team-bground {
    background-color: #f4f4fd;
}

.list-p {
    font-size: 16px;
    line-height: 1.5;
}

.our-team-section {
    background-color: #F4F4FD;
}

.our-team {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
}

.footer-bground {
    background-color: #2E2F42;
}

.studio2 {
    color: #f4f4f4;
}

.footer-p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
}